body{
	background: #B3A78D;
	margin: 0;
}
p{
	 font-family: 'Roboto', sans-serif;
}
header{
	background:#6B0404;
	height: 50px;
	position:fixed;
	top:0;
  	width: 100%;
  	z-index:10;
}
header img{
	-webkit-filter: brightness(5);
	float: left;
	z-index:-2;
}
.bckgimg{
	background: #4B0404;
	width:55px;
	height: 100%;
	float:left;
	}
.bckgimg img{
	padding: 8px 10px;
}
.fips img{
	width: 150px;
	padding-left: 15px;
	padding-top: 8px;
}
.fips{
	float:left;
}
header p{
	width: 80px;
	float: right;
	margin-right: 10px;
	margin-bottom: 0;
	margin-top:9px;
	line-height:30px;
	color:gray;
	background: white;
	padding-left: 5px;
	box-shadow: 4px 4px 4px rgba(256, 256, 256, 0.2);
	font-size: 12px;
}
.ENTRAR{
	color:white;
	text-align: center;
	background: gray;
	box-shadow: inset 0px 0px 15px #2E2E2E;
}
.ING{
	width:100%;
	height: 600px;
}
.UNSA, .logoUNSA{
	position: relative; left: 0px; bottom: 130px; z-index: 1;
	background: rgba(256, 256, 256, 0.2);
}
.UNSA{
	width: 190px;
	padding-left: 10px;
	padding-right:20px;
}
.logoUNSA{
	width: 105px; 
	padding-left: 10px;
	padding-right: 10px;
}
.espacio{
    height:10px;
}







.list-nav{
	background: white;
	position:fixed;
	top:0;
  	width: 100%;
  	z-index: 9
}
.list2{
	background: white;
}
span ul{
	width: 500px;
	background: gray;

}
span li{
	float:left;
	margin-right: 80px;
	height: 30px;
}
.list-nav ul{
	margin:0 auto;
	margin-top: 50px;
}
.list2 ul{
	margin:0 auto;
	margin-top: -260px;
}
.list-nav li, .list2 li{
	display: inline-block;
	font-family:  'Roboto', sans-serif;
}
.list-nav a, .list2 a{
	display: block;
	padding:10px 20px;
	color:#555;
	transition: all 0.6s;
	font-size: 18px;
}
.list-nav a:hover, .list2 a:hover{
	text-decoration: none;
	background: #ED9819;
	color:white;
	transform: scale(0.85);
}
li img{
	width: 18px;
	padding-right: 2px;
	color: #6B0404;
}
.line1{
	height: 7px;
	background: gray;
}
.line2{
	height: 4px;
	background: #BDBDBD;
}
.FotoUNSA{
	width: 35%;
	float:left;
	min-width: 18%;	
	border-radius: 5%;
	box-shadow: gray -8px 8px 15px;
	margin-right: 40px;
	margin-left: 30px;
	margin-bottom: 27px;
	margin-top: 10px;
}
.container p{
	font-size: 18px;
	padding: 45px 0;	
	color: black;
	margin-right: 30px;
}
.container h3{
	font-size: 25px;
	color:#6B0404;
}




    *{
    	/*outline:1px solid rgba(255,0,0,0.5);*/
    }
    body{
    	background-color: #b3a78d; /* d4d4c8*/
    }
    .cont-hist{
		background-color: #fcfbf5;
		margin-top: 15px;
		border-top: solid 6px #a51c30;
		margin-bottom: 	15px;
		box-shadow:  0 8px 6px -6px inset black ;
    }
	footer{

		background-color: black;
		color:white;
		padding:15px;
	}
	
	
	.persona{
		background-color: 	black;
		display:inline-block	;
		width:280px;
		height:350px;	
	}
	.persona img{.
		position: 	relative;
		top:0;
		width:280px;
		height: 	350px;
		z-index: 0;
	}
	.persona .pers-a{
		position:absolute;
		width:280px;
		height:350px;

		text-decoration: 	none;
		color:white;
		font-weight: bold;
		overflow:hidden;
	
	}

	.persona *{

		transition: all 0.8s; 

		color:white;
	}
		
	.persona .nombre{
		width:100%;
		font-size: 	1.5em;
		position: 	absolute;	
		top: 70%;

	 	text-shadow: black 0.1em 0.1em 0.2em;
	 	color:white;
	}
	 .persona p{
	 	text-align: 	center;

	 }	
	.persona .cargo{
		width:auto;
		background:#f2b705;
		position: absolute;
		top:9px;
		left:-6px;
		line-height: 26px;
		padding: 0 12px;
		z-index: 	3;
		font-weight: 	bold;
		color:white;
		font-size: 15px;

	}

	.persona:hover img{
		opacity:0.55;
		transform:scale(1.10);
   		width:280px;
		height:350px;		
	}

	.persona:hover .nombre{
		top:50%;
	}
	.persona .hoj-vid{
		position: absolute; bottom:15%;
		font-size: 1.0em;
		
		z-index:-6;
		text-align: left;

	 	text-shadow: black 0.1em 0.1em 0.11em

	}
	.persona:hover .hoj-vid{
		transform: translate3d(85px,0,0);
		z-index:6;
	}
	.hoj-vid:hover{
		color:white;
		text-decoration: none;
	}









	#navigationMenu span{
	/* Container properties */
	width:0;
	left:45px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Roboto',sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	color:white;
	line-height:px;

	/* CSS3 Transition: */
	-webkit-transition: 0.25s;

	/* Future proofing (these do not work yet): */
	-moz-transition: 0.25s;
	transition: 0.25s;
}

#navigationMenu .H{
	height:55px;
	width:55px;
	display:block;
	position:relative;
}

/* General hover styles */

#navigationMenu .H:hover span{ width:auto; padding:0 20px;overflow:visible; padding-top: 15px; }
#navigationMenu .H:hover .Menudesp{ width:390px; padding:0 40px;overflow:visible; background: rgba(0, 0, 0, 0.5); padding-bottom: 20px; margin-left: 20px; }
#navigationMenu .H:hover{
	text-decoration:none;

	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}

#navigationMenu{
position: relative; left: 0px; bottom: 550px; z-index: 1;
list-style: none;
}
#navigationMenu p{
	margin:0;
	line-height: 55px;
	color:white;
	visibility: hidden;
	transition: all 0.8s;

}
#navigationMenu p:hover{
	text-decoration: none;
	background: #ED9819;
	color:white;
	visibility: visible;
}
#navigationMenu img{
	background: rgba(0, 0, 0, 0.2);
	padding: 10px 10px;
	-webkit-filter: brightness(5);
	width: 55px;
	float: left;
	}
#navigationMenu ul{
	padding-left: 0;
	}
.Historia img{
float:right;
margin-left: 30px;
}

.raya{
	margin-top: 30px;
	height: 5px;
	background: #6B0404;
}

.personas img{
	width: 70	%;
	height: 220px;
}
	.personas .name{
		width:auto;
		background: black;
		position: absolute;
		bottom:60px;
		line-height: 26px;
		padding: 0 8px;
		z-index: 	3;
		font-weight: 	bold;
		color:white;
		font-size: 13px;
		text-align: center;

	}
.autoridades{
	margin-left: 60px;
}
.autoridades .raya{
	margin-left: -50px;
}
.a{
	width:25%  !important;
}
.organigrama{
margin-top: 20px;
margin-left: 30%;
}
.fo-nav{
		list-style: none;
	}
.fo-nav li{
		display: inline;		
	}
.Presentacion{
	padding-top: 120px;
}


@font-face {
font-family: 'icomoon';
src:url('fonts/icomoon.eot?e3yd2t');
src:url('fonts/icomoon.eot?e3yd2t#iefix') format('embedded-opentype'),
url('fonts/icomoon.ttf?e3yd2t') format('truetype'),
url('fonts/icomoon.woff?e3yd2t') format('woff'),
url('fonts/icomoon.svg?e3yd2t#icomoon') format('svg');
font-weight: normal;
font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
vertical-align: middle;
line-height: 1;

/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

[class*=" icon-"] {
text-align: center;
margin-right: 2px !important;
font-size: 20px !important;
}

.icon-user-tie:before {
content: "\e900";

}
.icon-user-tie2:before{
content: "\e900";
font-size: 23px;
margin-right: 4px;
}
.icon-briefcase:before {
content: "\e901";
font-size: 23px;
margin-right: 4px;
}
.icon-note:before {
content: "\e902";

font-size: 23px;
margin-right: 4px;
}
.icon-study:before {
content: "\e903";

font-size: 23px;
margin-right: 4px;
}

/*---------------------------------------------------------------------------*/

#masthead { 
 min-height:30px;
 background-color:#a51c30 ;
}

#masthead h2 {
 font-size: 25px;
 line-height: 1;
 color:white;
 margin:0 -15px;
 border:15px #a51c30 solid;   vertical-align:   middle;
}


@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 50px;
  }
}

.navbar-bright {
 background-color:red;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
   margin-top:30px;
   width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
    
  }
}
#sidebar a{
font-weight: bold;
font-size: 16px;
text-decoration: none;
color:#d98e04;
}

#sidebar li:hover{

  background-color:red;
}

#sidebar li.active {
  border:0 #eee solid;
  background-color:#f2b705;
  
  border-right-width:5px;
}

#sidebar li.active a{
color:white;
}

.hoja-de-vida h4{
font-weight: bold;

}
.hoja-de-vida hr{
 border-top: 1px solid #6b0404;
}
.H a{
	color:white;
}
.H a:hover{
	color:white;
	text-decoration: none

	}
.ven{
	font-family: Candara, Sans-serif;
}